.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding:0px 250px;
}
.left{
    align-items: center;
    display: flex;
    justify-content: center;
}
.left>.logo{
    font-weight: 700;
    font-size: larger;
}
.right{
    align-items: center;
    justify-content: center;
    display: flex;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.links > li{
    list-style: none;
    text-decoration: none;
}